/*************************  TAG SELECTORS *************************/
body {
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

div {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  /* color: #1f3c88; */
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 4.6875rem;
  /*16px = 100% 90px/16= 562.5%*/
  margin: 50px auto 0 auto;
  /* margin: 0 auto 0 auto; */
  /* width: 30%; */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0;
  /* line-height: 2; */
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  color: #eaf6f6;
}

p {
  margin-top: 0;
  line-height: 2;
  /* margin: 0 auto 0 auto; */
  padding-bottom: 20px;
  /* width: 30%; */
}

hr {
  margin: 100px auto;
  border-bottom: none;
  border-top: dotted #eaf6f6 5px;
  border-left-style: none;
  border-right-style: none;
  width: 5%;
}


/*************************  CLASS SELECTORS *************************/
/* SECTIONS */
.top {
  background-color: #eaf6f6;
  /* #ebebe3; */
  padding-top: 100px;
  position: relative;
}

.mid {
  padding: 100px 0;
  /* background-color: #ebebe3;
   #bcbab8;
  height: 200px;
  width: 200px; */
}

.bottom {
  background-color: #66BFBF;
  padding: 50px 0 20px;

  /* background-color: #bcbab8;
   #9d8f8f;
  height: 200px;
  width: 200px; */
}

/* TOP */

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 75px;
}

.bottom-cloud {
  bottom: 300px;
  left: 200px;
  position: absolute;
}

.mountain {
  position: relative;
  top: 2px;
}

/* MID */
.selfie {
  border-radius: 50%;
}

.intro {
  width: 30%;
  margin: 10px auto;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.ramen {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.skill-row {
  line-height: 2;
  margin: 26px auto;
  text-align: left;
  width: 50%;
}

/* BOTTOM */

.contact-me{
  margin: 100px auto;
  width: 50%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.butn {
  background: #7edede;
  background-image: -webkit-linear-gradient(top, #7edede, #5aadad);
  background-image: -moz-linear-gradient(top, #7edede, #5aadad);
  background-image: -ms-linear-gradient(top, #7edede, #5aadad);
  background-image: -o-linear-gradient(top, #7edede, #5aadad);
  background-image: linear-gradient(to bottom, #7edede, #5aadad);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #EAf6f6;
  font-size: 20px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #55a3a3;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAf6f6;
  font-size: .75rem;
  padding: 20px 0;
  margin-bottom:0;

}
/*************************  ID SELECTORS *************************/

/* ONLY use float for wrapping text
  clear is the anti-float
        (forces text to touch specified margin)
 */
